<section id="blogprev" class="blogprev">
  <div class="container">
    <div class="row text-center">
      <span class="lead">
      {% capture my-include %}{% include blogprev.md %}{% endcapture %}
      {{ my-include | markdownify }}
    </span>
      <!-- Cards of blog posts -->
      <div class="row previewcards">
        <div class="col-lg-1"></div>
        {% for post in site.posts limit:4 %}
          <div class="col-lg-2 col-lg-offset-1 card-light">
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <p class="post-date">{{ post.date | date: '%b %-d, %Y' }}</p>
            <p class="excerpt text-muted">{{ post.content | strip_html | truncatewords: 25 }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
